body {
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: auto auto;;
    color: black;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
	grid-column: span 2;
	text-align: center;
}

#form {
	margin: 1em;
}

h2 {
	text-align: center;
	font-size: 18px;
}

p {
    margin-top: -0.5em;
}

#slider {
	display: grid;
	grid-template-columns: auto auto;
}

progress {
	height:3em;
    width: 16em;
}

input[type="number"] {
	width: 5em;

 }

h3 {left: 50%;
	transform: translate(-50%);
	position: absolute;
	bottom: 0;
 }

#bill {
	 position: relative;
	 border: black;
	 background-color: #9b9b9b;
	 color: white;
     margin: 1em;
 }

#recipe {
	 font-size: 18px;
	 padding: 20px;
 }

#description {
	font-size: 18px;
	padding: 20px;
}

