body {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto;
    font-family: sans-serif, Arial, Helvetica;
}

div {
    border: thin solid black;
    margin: 2em;
}

header{
    grid-column: span 2;
    text-align: center;
}

#submit {
    margin-left: 3em;
    height: 2em;
    width: 10em;
    background: grey;
    color: white;
}

#searchRecipes {
    height: 2em;
    width: 10em;
    background: grey;
    color: white;
}

#loadRecipe {
    height: 2em;
    width: 10em;
    background: grey;
    color: white;
}

#database {
    border: none;
}